<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About RISE Physical Therapy</h2>
                    <h3 class="section-subheading text-muted">Physical Therapy in Solana Beach, Carlsbad, and Point Loma</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-muted">RISE Physical Therapy was born from a simple philosophy: it doesn’t matter who you are or what you do, everyone deserves the best treatment possible. We want to be that place for you. RISE Physical Therapy stands for Revolution In Self Evolution. To us, that means the journey of strengthening the mind, body, and spirit.</p>
                    <p class="text-muted">We're proud to be the premier provider of <strong>1-on-1 physical therapy treatment services in North County, SD</strong>. Our physical therapy clinics in Solana Beach, Carlsbad, and Point Loma work not only to treat patients, but also to teach them how to take care of their own bodies.</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12" id="primary-logo">
                  <img src="img/logos/rise-main-logo.png" class="img-responsive img-centered" alt="">
              </div>
            </div>
            <!-- <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="about-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="about-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="about-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div> -->
        </div>
    </section>
