<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                  <h2 class="section-heading">RISE Physical Therapy is Currently Open and Accepting New Patients!</h2>

                  <h3 class="section-subheading text-muted">Telehealth is also available to new and existing patients</h3>

                  <!-- <h2 class="section-heading">About RISE Physical Therapy</h2>
                  <h3 class="section-subheading text-muted">Physical Therapy in Solana Beach, Carlsbad, Carmel Valley, and Point Loma</h3> -->

                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">

                  <p class="text-muted">At RISE Physical Therapy, we strive to protect the health and safety of our patients, staff and providers. We are enforcing social distancing whenever possible and limiting the number of patients in the clinic at one time. Some instances are impossible to avoid contact with patients and providers. We are doing everything we can to stop the spread of coronavirus (COVID-19) in all clinics. All staff members and PT providers are mandated to wear their PPE such as masks and gloves in the clinic. We are actively following CDC and WHO guidelines/updates. Please note that all patients in the clinic are required to wear face covering or masks as well.</p>

                  <p class="text-muted">Our unique one-on-one model of treatment means that you only come in contact with your PT provider while in the clinic. We do offer telehealth visits for all patients interested to help reduce the need for in-clinic exposure. We encourage telehealth especially for those who are at high risk according to the CDC or have any signs of sickness, Coronavirus related or not.</p>

                  <p class="text-muted">If you have any questions related to our care and clinic policies, please call the front office to speak with one of our staff: <a href="tel:+18587555200">858-755-5200</a></p>

                  <p class="text-muted">Please keep yourself informed and review the guidelines set by the CDC on their website, <a href="https://www.cdc.gov/" target="_blank">cdc.gov</a> or the county hotline at 211.</p>

                  <!-- <p class="text-muted">RISE Physical Therapy was born from a simple philosophy: it doesn’t matter who you are or what you do, everyone deserves the best treatment possible. We want to be that place for you. RISE Physical Therapy stands for Revolution In Self Evolution. To us, that means the journey of strengthening the mind, body, and spirit.</p>
                  <p class="text-muted">We're proud to be the premier provider of <strong>1-on-1 physical therapy treatment services in North County, San Diego</strong>, as well as neighboring areas. Our physical therapy clinics in Solana Beach, Carlsbad, Carmel Valley, and Point Loma provide RISE's core <a href="#services" class="page-scroll">physical therapy treatment services</a>. Unlike most physical therapy clinics, RISE does not use aides or assistants. All of our sessions are spent 1-on-1 with the provider or resident and often times with a provider AND resident.</p>
                  <p class="text-muted">If you're interested in treatment options outside of our core services - for example, yoga or cryotherapy - feel free to <a href="https://www.riseprimewellness.com" target="_blank">visit RISE Prime Wellness</a>. If you're located elsewhere in Southern California but would still like to experience the difference at RISE, please check out our various <a href="#locations" class="page-scroll">office and affiliate locations</a>.</p> -->

                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center" id="about-section-buttons">
                <a href="#locations" class="page-scroll btn btn-xl">View Our Locations & Affiliates</a>
              </div>
            </div>
        </div>
    </section>
