<!-- Insurance Section -->
    <section id="insurance">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Insurance</h2>
                    <h3 class="section-subheading text-muted">RISE Physical Therapy is contracted with numerous health insurance providers to offer in-network physical therapy services.
                      <br>These include, but are not limited to:</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2"><!-- Spacer --></div>
              <div class="col-md-4">
                <h3>Commercial Plans</h3>
                <ul>
                  <li>Aetna</li>
                  <li>Anthem Blue Cross</li>
                  <li>ASH (American Specialty Health)</li>
                  <li>Beech Street</li>
                    <ul>
                      <li>Capp Care & PPO Group</li>
                    </ul>
                  <li>Blue Shield</li>
                  <li>Cigna</li>
                    <ul>
                      <li>HMO, Special Needs Plan</li>
                      <li>CalMediConnect</li>
                    </ul>
                  <li>First Health</li>
                  <li>Great West</li>
                  <li>Health Net</li>
                    <ul>
                      <li>HMO (where not capped)</li>
                      <li>Covered CA Plans (including Enhance Care PPO)</li>
                      <li>Pure Care</li>
                      <li>Comm. Care (Direct Network Only)</li>
                    </ul>
                  <li>Molina Healthcare (IPO & Covered CA)</li>
                  <li>Multiplan</li>
                  <li>Scripps (PPO & EPO)</li>
                  <li>United Healthcare</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h3>Federal Plans</h3>
                <ul>
                  <li>Blue Shield Federal</li>
                  <li>CHAMPVA</li>
                  <li>Department of Labor</li>
                  <li>Medicare</li>
                  <li>Medi-Medi Plans</li>
                  <li>TRICARE</li>
                  <li>TriWest</li>
                </ul>
                <h3>Worker's Comp. Plans</h3>
                <ul>
                  <li>All Plans</li>
                  <li>Align, MediRisk, One Call, Corvel, etc.</li>
                  <li>Anthem Market Place Worker's Comp.</li>
                </ul>
              </div>
              <div class="col-md-2"><!-- Spacer --></div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">We also offer affordable cash rates for all physical therapy and performance training services. <a class="page-scroll" href="#contact">Contact us to learn more.</a></h3>
              </div>
            </div>
        </div>
    </section>
