<!-- Locations Section -->
<section id="locations">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Locations</h2>
        <h3 class="section-subheading text-muted">RISE Physical Therapy has offices throughout San Diego County.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/oceanside.jpg" title="RISE Physical Oceanside" alt="Oceanside physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Oceanside <span style="color:green;">(NEW LOCATION)</span></h4>
                <h4 class="subheading">2216 El Camino Real, Unit 203
                  <br>Oceanside, CA 92054</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (760) 826-2525</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/oceanside-physical-therapy"><h4>Learn More About Physical Therapy in Oceanside</h4></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/carlsbad.jpg" title="RISE Physical Therapy Carlsbad" alt="Carlsbad physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Carlsbad</h4>
                <h4 class="subheading">6451 El Camino Real, Suite B2
                  <br>Carlsbad, CA 92009</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (760) 804-1400</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/carlsbad-physical-therapy"><h4>Learn More About Physical Therapy in Carlsbad</h4></a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/encinitas.jpg" title="RISE Physical Encinitas" alt="Encinitas physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Encinitas <span style="color:green;">(NEW LOCATION)</span></h4>
                <h4 class="subheading">1010 S Coast Hwy 101 # 107
                  <br>Encinitas, CA 92024</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (760) 783-5100</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/encinitas-physical-therapy"><h4>Learn More About Physical Therapy in Encinitas</h4></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/solana-beach.jpg" title="RISE Physical Therapy Solana Beach" alt="Solana Beach physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Solana Beach</h4>
                <h4 class="subheading">380 Stevens Avenue, Suite 314
                  <br>Solana Beach, CA 92075</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (858) 755-5201</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/solana-beach-physical-therapy"><h4>Learn More About Physical Therapy in Solana Beach</h4></a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/carmel-valley.jpg" title="RISE Physical Therapy Carmel Valley" alt="Carmel Valley physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Carmel Valley</h4>
                <h4 class="subheading">5550 Carmel Mountain Road, Suite 208B
                  <br>San Diego, CA 92130</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (858) 314-9611</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/carmel-valley-physical-therapy"><h4>Learn More About Physical Therapy in Carmel Valley</h4></a>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/point-loma.jpg" title="RISE Physical Therapy Point Loma" alt="Point Loma physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Point Loma Liberty Station</h4>
                <h4 class="subheading">2495 Truxtun Road, Suite 200
                  <br>San Diego, CA 92106</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (619) 223-2307</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/point-loma-physical-therapy"><h4>Learn More About Physical Therapy in Point Loma</h4></a>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/el-cajon.jpg" title="RISE Physical Therapy El Cajon" alt="El Cajon physical therapy">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>El Cajon <span style="color:green;">(NEW LOCATION)</span></h4>
                <h4 class="subheading">1331 Cuyamaca Street, Suite E
                  <br>El Cajon, CA 92020</h4>
                <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (619) 343-3514</h3>
              </div>
              <div class="timeline-body">
                <a href="/locations/el-cajon-physical-therapy"><h4>Learn More About Physical Therapy in El Cajon</h4></a>
              </div>
            </div>
          </li>
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Affiliates</h2>
              <h3 class="section-subheading text-muted">RISE affiliate partnerships allow us to serve patients throughout Southern California.</h3>
            </div>
          </div>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/sspt_affiliate.png" alt="silver strand physical therapy logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Silver Strand Physical Therapy</h4>
                <a href="https://goo.gl/kbDrSL" target="_blank"><h4 class="subheading">760 13th Street
                  <br>Imperial Beach, CA 91932</h4></a>
                <h3 class="section-subheading text-muted locations">Phone: (619) 941-2680 | Fax: (619) 941-2681</h3>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Silver Strand Physical Therapy is our South San Diego physical therapy affiliate. Located in Imperial Beach, Silver Strand Physical Therapy provides premier physical therapy treatment services to patients throughout the South Bay. Vist <a href="http://www.silverstrandpt.com" target="_blank">silverstrandpt.com</a> to learn more.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/locations/prime_affiliate.png" alt="rise prime wellness logo">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>RISE Prime Wellness</h4>
                <a href="https://goo.gl/maps/SHVvrqJUKUt"><h4 class="subheading">5550 Carmel Mountain Rd, Ste 208
                  <br>San Diego, CA 92130</h4></a>
                <h3 class="section-subheading text-muted locations">Phone: (858) 314-9610</h3>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><a href="https://www.riseprimewellness.com" target="_blank">RISE Prime Wellness</a> is the premier holistic health and wellness clinic in San Diego. We offer a highly customized approach that combines yoga and cryotherapy with several other wellness services.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="https://www.socalelitephysicaltherapy.com/img/logos/socal-elite-logo-white.png" alt="socal elite physical therapy logo" style="background-color: #000; height: 100%">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>SoCal Elite Physical Therapy</h4>
                <a href="https://goo.gl/maps/wEVtnAZV2Avc2NhTA" target="_blank"><h4 class="subheading">12 Mauchly, Suite P
                  <br>Irvine, CA 92618</h4></a>
                <h3 class="section-subheading text-muted locations">Phone: (949) 590-9350 | Fax: (949) 346-5350</h3>
              </div>
              <div class="timeline-body">
                <p class="text-muted"><a href="https://www.socalelitephysicaltherapy.com/" target="
                  " rel="noreferrer noopener">SoCal Elite Physical Therapy</a> strives to provide our clients the best physical therapy services by spearheading our practices with unique, adaptable, and versatile exercises.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
