<!-- Locations Section -->
    <section id="locations">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Locations</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/locations/solana-beach.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Solana Beach</h4>
                                    <a href="https://goo.gl/x5JhCD" target="_blank"><h4 class="subheading">380 Stevens Ave, Ste 314
                                      <br>Solana Beach, CA 92075</h4></a>
                                    <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (858) 755-5201</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Located in the heart of Solana Beach, this location was where RISE Physical Therapy was established. We've made it our mission to be a contributing member to the Solana Beach and North County San Diego community. RISE is located off Stevens Avenue and has easy access to a great network of local providers and other health care professionals. Our Solana Beach location is also the hub of our billing and scheduling departments.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/locations/carlsbad.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Carlsbad</h4>
                                    <a href="https://goo.gl/vua1B5" target="_blank"><h4 class="subheading">6451 El Camino Real #2
                                      <br>Carlsbad, CA 92009</h4></a>
                                    <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (760) 804-1400</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Our Carlsbad office is located inside of the San Diego Premier Training gym. This new location has allowed RISE to grow and give back to more of the North County San Diego community. Our 1,500 square foot clinic offers all of the comfort and feel of an intimate clinic, while deliver top-notch physical therapy services to clients throughout the Carlsbad area.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/locations/point-loma.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Point Loma</h4>
                                    <a href="https://goo.gl/rqQvgl" target="_blank"><h4 class="subheading">2790 Truxtun Road, Suite 120B
                                      <br>San Diego, CA 92106</h4></a>
                                    <h3 class="section-subheading text-muted locations">Phone: (858) 755-5200 | Fax: (619) 223-2307</h3>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">You asked and we listened. After being in San Diego for the last two years, we’ve been lucky enough to work with patients all across the city. Due to the demand for high quality, individualized physical therapy that RISE provides, we've finally decided to open a clinic in Point Loma - near the heart of San Diego.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
